@import "tailwindcss";

/* Simple custom */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

/* container max width */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
